<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicKey</key>
	<string>c5b69de0ce9361404658b2bc1da0c50f</string>
	<key>privateKey</key>
	<string>fd50e962c7960c2cd6d086685ca38a81d1cfa805</string>
</dict>
</plist>
